<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.dao.CartItemMapper">
	<select id="selectCartItemPoVoByCartitemid" resultMap="povo"
		parameterType="string">
		SELECT cartitem.*,book.author
		,book.bid book_bid
		,book.bname
		,book.booksize,book.cid,book.currPrice
		,book.discount,book.edition,book.image_b
		,book.image_w,book.pageNum,
		book.paper,book.press,book.printtime
		,book.publishtime,book.shunxu
		book_shunxu
		,book.wordNum

		FROM
		cartitem,book
		WHERE cartitem.cartItemId = #{cartitemid}
		AND cartitem.bid=
		book.bid

	</select>
	<select id="jiesuan" resultMap="povo" parameterType="map">

		SELECT cartitem.*,book.author
		,book.bid book_bid ,book.bname
		,book.booksize,book.cid,book.currPrice
		,book.discount,book.edition,book.image_b
		,book.image_w,book.pageNum,
		book.paper,book.press,book.printtime
		,book.publishtime,book.shunxu
		book_shunxu
		,book.wordNum,user.uid user_uid,
		user.loginname
		,user.activationCode,user.email,user.loginpass,user.status FROM
		USER,cartitem,book
		WHERE cartitem.uid=user.uid
		AND cartitem.bid=
		book.bid
		AND user.uid = #{uid}
		AND
		cartitem.cartItemId IN
		(
		<foreach collection="ids" separator="," item="id">#{id}</foreach>
		)
	</select>

	<delete id="delete2" parameterType="map">
		delete from cartitem where
		cartitem.cartitemid in
		(
		<foreach collection="ids" item="id" separator="," index="index">
			#{id}
		</foreach>
		)

		and uid = #{uid}
	</delete>

	<resultMap id="BaseResultMap" type="com.zzg.domain.CartItem">
		<id column="cartItemId" jdbcType="CHAR" property="cartitemid" />
		<result column="quantity" jdbcType="INTEGER" property="quantity" />
		<result column="bid" jdbcType="CHAR" property="bid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="shunxu" jdbcType="INTEGER" property="shunxu" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="povo" type="cartItemPoVo">
		<association property="book" javaType="book">
			<id column="book_bid" jdbcType="CHAR" property="bid" />
			<result column="bname" jdbcType="VARCHAR" property="bname" />
			<result column="author" jdbcType="VARCHAR" property="author" />
			<result column="price" jdbcType="DECIMAL" property="price" />
			<result column="currPrice" jdbcType="DECIMAL" property="currprice" />
			<result column="discount" jdbcType="DECIMAL" property="discount" />
			<result column="press" jdbcType="VARCHAR" property="press" />
			<result column="publishtime" jdbcType="CHAR" property="publishtime" />
			<result column="edition" jdbcType="INTEGER" property="edition" />
			<result column="pageNum" jdbcType="INTEGER" property="pagenum" />
			<result column="wordNum" jdbcType="INTEGER" property="wordnum" />
			<result column="printtime" jdbcType="CHAR" property="printtime" />
			<result column="booksize" jdbcType="INTEGER" property="booksize" />
			<result column="paper" jdbcType="VARCHAR" property="paper" />
			<result column="cid" jdbcType="CHAR" property="cid" />
			<result column="image_w" jdbcType="VARCHAR" property="imageW" />
			<result column="image_b" jdbcType="VARCHAR" property="imageB" />
			<result column="book_shunxu" jdbcType="INTEGER" property="shunxu" />
		</association>
		<association property="user" javaType="user">
			<id column="user_uid" property="uid" jdbcType="CHAR" />
			<result column="loginname" property="loginname" jdbcType="VARCHAR" />
			<result column="loginpass" property="loginpass" jdbcType="VARCHAR" />
			<result column="email" property="email" jdbcType="VARCHAR" />
			<result column="status" property="status" jdbcType="BIT" />
			<result column="activationCode" property="activationcode"
				jdbcType="CHAR" />
		</association>
	</resultMap>

	<select id="SelectCartitemsPoVoByUid" parameterType="string"
		resultMap="povo">
		SELECT cartitem.*,book.author
		,book.bid book_bid ,book.bname
		,book.booksize,book.cid,book.currPrice
		,book.discount,book.edition,book.image_b
		,book.image_w,book.pageNum,
		book.paper,book.press,book.printtime
		,book.publishtime,book.shunxu
		book_shunxu
		,book.wordNum,user.uid user_uid,
		user.loginname
		,user.activationCode,user.email,user.loginpass,user.status FROM
		user,cartitem,book
		WHERE cartitem.uid=user.uid
		AND cartitem.bid=
		book.bid
		AND user.uid = #{uid}
	</select>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		cartItemId, quantity, bid, uid, shunxu
	</sql>
	<select id="selectByExample" parameterType="com.zzg.domain.CartItemExample"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from cartitem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		select
		<include refid="Base_Column_List" />
		from cartitem
		where cartItemId = #{cartitemid,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		delete from cartitem
		where cartItemId = #{cartitemid,jdbcType=CHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.zzg.domain.CartItemExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		delete from cartitem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.zzg.domain.CartItem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		insert into cartitem (cartItemId, quantity, bid,
		uid, shunxu)
		values
		(#{cartitemid,jdbcType=CHAR}, #{quantity,jdbcType=INTEGER},
		#{bid,jdbcType=CHAR},
		#{uid,jdbcType=CHAR}, #{shunxu,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.zzg.domain.CartItem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		insert into cartitem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cartitemid != null">
				cartItemId,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="bid != null">
				bid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="shunxu != null">
				shunxu,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cartitemid != null">
				#{cartitemid,jdbcType=CHAR},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=INTEGER},
			</if>
			<if test="bid != null">
				#{bid,jdbcType=CHAR},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="shunxu != null">
				#{shunxu,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.zzg.domain.CartItemExample"
		resultType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		select count(*) from cartitem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		update cartitem
		<set>
			<if test="record.cartitemid != null">
				cartItemId = #{record.cartitemid,jdbcType=CHAR},
			</if>
			<if test="record.quantity != null">
				quantity = #{record.quantity,jdbcType=INTEGER},
			</if>
			<if test="record.bid != null">
				bid = #{record.bid,jdbcType=CHAR},
			</if>
			<if test="record.uid != null">
				uid = #{record.uid,jdbcType=CHAR},
			</if>
			<if test="record.shunxu != null">
				shunxu = #{record.shunxu,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		update cartitem
		set cartItemId = #{record.cartitemid,jdbcType=CHAR},
		quantity = #{record.quantity,jdbcType=INTEGER},
		bid =
		#{record.bid,jdbcType=CHAR},
		uid = #{record.uid,jdbcType=CHAR},
		shunxu =
		#{record.shunxu,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.zzg.domain.CartItem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		update cartitem
		<set>
			<if test="quantity != null">
				quantity = #{quantity,jdbcType=INTEGER},
			</if>
			<if test="bid != null">
				bid = #{bid,jdbcType=CHAR},
			</if>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="shunxu != null">
				shunxu = #{shunxu,jdbcType=INTEGER},
			</if>
		</set>
		where cartItemId = #{cartitemid,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zzg.domain.CartItem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 23 
			08:54:16 CST 2017. -->
		update cartitem
		set quantity = #{quantity,jdbcType=INTEGER},
		bid =
		#{bid,jdbcType=CHAR},
		uid = #{uid,jdbcType=CHAR},
		shunxu =
		#{shunxu,jdbcType=INTEGER}
		where cartItemId =
		#{cartitemid,jdbcType=CHAR}
	</update>
</mapper>